.col-1-6 {
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
  max-width: 21%;
  font-size: 13px;
  margin: 20px 0;
}

.information-user-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-details-not-editing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-editing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-editing button {
  margin-top: 10px;
}

.user-details-img {
  margin: 0 5px 0 15px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #97b7ea;
  border-radius: 5px;
  background: #eeeeee;
}

.user-details-img img {
  margin-top: 10px;
  width: 230px;
  height: 230px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-details-img label {
  color: #606060;
  margin-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-details-img p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-details-buttons {
  margin-right: 55px;
  padding: 20px 0;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #97b7ea;
  border-radius: 5px;
  background: #eeeeee;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-details label {
  margin-bottom: 5px;
}

.user-details p {
  height: 1em;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
}

.information-user-selected label {
  color: #606060;
  margin-bottom: 5px;
}

.information-user-selected input {
  height: 2em;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}

.information-user-selected button {
  width: 100%;
  margin-right: 10px;
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: #212121;
  background: #97b7ea;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  outline: none;
}

.information-user-selected button:hover {
  background: #c9e9ff;
  cursor: pointer;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form input {
  padding: 5px;
}

.user {
  margin: 0 10px 0 8px;
  min-height: 240px;
  border: 1px solid #97b7ea;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.user:hover {
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.user-photo {
  padding: 8px;
  max-width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-photo img {
  height: 170px;
  width: 170px;
  border-radius: 9px;
}

.user-name {
  min-height: 20px;
  margin-bottom: -10px;
  padding: 10px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-name p {
  font-size: 20px;
}

.search {
  width: 99%;
  max-width: 100%;
  margin: 5px 10px 0 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input {
  border-radius: 3px;
  height: 20px;
  border: 1px solid #97b7ea;
  outline: none;
  padding: 5px;
}
/*# sourceMappingURL=style.css.map */