.search {
  width: 100%;
  max-width: 100%;
  height: 40px;
  margin: 5px 10px 0 0;
  display: flex;
  justify-content: center;
  align-items: center;
}
.search input {
  height: 20px;
  padding: 5px;
  border: 1px solid #97b7ea;
  border-radius: 3px;
  outline: none;
}

.information-user-root {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.col-1-6 {
  flex-basis: 21%;
  max-width: 21%;
  margin: 20px 10px 20px 8px;
}

.user {
  height: 260px;
  border: 1px solid #97b7ea;
  border-radius: 10px;
  transition: transform 0.3s linear;
}
.user:hover {
  cursor: pointer;
  transform: translateY(-10px);
}

.user-photo {
  max-width: 100%;
  height: 200px;
  padding: 8px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.user-photo img {
  height: 170px;
  width: 170px;
  border-radius: 9px;
}

.user-name {
  height: 20px;
  padding: 10px 0;
  display: flex;
  justify-content: center;
}
.user-name p {
  font-size: 20px;
}

.user-details-not-editing {
  display: flex;
}

.user-editing {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.user-editing button {
  margin-top: 10px;
}

.user-details-img {
  margin: 0 5px 0 15px;
  flex-basis: 40%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  border: 1px solid #97b7ea;
  border-radius: 5px;
  background: #eeeeee;
}
.user-details-img img {
  margin-top: 10px;
  width: 230px;
  height: 230px;
  align-self: center;
}
.user-details-img label {
  color: #606060;
  margin-top: 10px;
  align-self: center;
}
.user-details-img p {
  align-self: center;
}

.user-details-buttons {
  margin-right: 55px;
  padding: 20px 0;
  flex-basis: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid #97b7ea;
  border-radius: 5px;
  background: #eeeeee;
}

.buttons {
  display: flex;
}

.user-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 10px;
}
.user-details label {
  margin-bottom: 5px;
}
.user-details p {
  height: 1em;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
}

.information-user-selected label {
  color: #606060;
  margin-bottom: 5px;
}
.information-user-selected input {
  height: 2em;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}
.information-user-selected button {
  width: 100%;
  margin-right: 10px;
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: #212121;
  background: #97b7ea;
  transition: background 0.3s linear;
  outline: none;
  font-weight: 700;
}
.information-user-selected button:hover {
  background: #c9e9ff;
  cursor: pointer;
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 20px;
}
.user-form input {
  padding: 5px;
}
.user-form button {
  width: 50%;
  margin: 10px 10px 0 0;
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  font-weight: 700;
  color: #212121;
  background: #97b7ea;
  transition: background 0.3s linear;
  outline: none;
}
.user-form button:hover {
  background: #c9e9ff;
  cursor: pointer;
}

/*# sourceMappingURL=style.css.map */
