@import 'variables';

* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  width: 20%;
  max-width: 20%;
  display: flex;
  justify-content: center;
}

.header-image {
  max-width: 120px;
}

.main {
  display: flex;
}

.sidebar {
  flex-basis: 20%;
  max-width: 20%;
  max-height: 14em;
  margin-left: 10px;
  color: $textColor;
  background: $navAndButtonBg;
  border-radius: 5px;
}

.sidebar ul {
  padding: 0px;
  list-style: none;
}

.sidebar-user {
  line-height: 7em;
  border-bottom: 1px solid #212121;

  transition: $bgTransition;

  &:hover {
    background: $navAndButtonHover;
  }

  p {
    text-align: center;
    text-transform: uppercase;

    &:hover{
     cursor: pointer;
    }
  }
}

.sidebar-admin {
  line-height: 7em;
  transition: $bgTransition;

  &:hover {
    background: $navAndButtonHover;
  }

  p {
    text-align: center;
    text-transform: uppercase;
    
    &:hover {
     cursor: pointer;
    }
  }
}

.information-root{
  flex-basis: 80%;
  max-width: 80%;
}

.col-1-6 {
  flex-basis: 21%;
  max-width: 21%;
  font-size: 13px;
}

.information-user-root{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.information-admin-root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.user-details-not-editing {
  display: flex;
}

.user-details-img {
  margin: 0 5px 0 15px;
  flex-basis: 40%;
  max-width: 40%;
  display: flex;
  flex-direction: column;
  border: $searchAndUserBorder;
  border-radius: 5px;
  background: $userDetailsBg;

  img {
    margin-top: 10px;
    width: 50%;
    height: 70%;
    align-self: center;
  }

  label {
    color: $labelColor;
    margin-top: 10px;
    align-self: center;
  }
   p {
    align-self: center;
   }
}

.user-details-buttons {
  margin-right: 55px;
  padding: 20px 0;
  flex-basis: 70%;
  max-width: 70%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: $searchAndUserBorder; 
  border-radius: 5px;
  background: $userDetailsBg;
}

.buttons {
  display: flex;

  button{
    width: 30%;
    margin-right: 10px;
  }
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  label {
    margin-bottom: 5px;
  }

  p {
    height: 1em;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
  }
}

.information-user-selected {
  label {
    color: $labelColor;
    margin-bottom: 5px;
  }

  input {
    height: 2em;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
  }

  button {
    line-height: 2em;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: $textColor;
    background: $navAndButtonBg;
    transition: $bgTransition;
    outline: none;

    &:hover {
      background: $navAndButtonHover;
      cursor: pointer;
    }
  }
}

.information-admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  label {
    color: $labelColor;
    margin-bottom: 5px;
  }

  input {
    height: 2em;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
  }

  button {
    line-height: 2em;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: $textColor;
    background: $navAndButtonBg;
    transition: $bgTransition;
    outline: none;

    &:hover {
      background: $navAndButtonHover;
      cursor: pointer;
    }
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.search {
  width: 99%;
  max-width: 100%;
  margin:  5px 10px 0 0;;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;

  input {
    border-radius: 3px;
    height: 20px;
    border: $searchAndUserBorder;
    outline: none;
    padding: 5px;
  }
}

.user {
  margin: 25px 10px 0 8px;
  min-height: 240px;
  border: $searchAndUserBorder;
  border-radius: 10px;
  transition: $transformTransition;

  &:hover{
    cursor: pointer;
    transform: translateY(-10px);
  }
}

.user-photo {
  padding: 8px;
  max-width: 100%;
  min-height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    height: 200px;
    width: 150px;
    border-radius: 9px;
  }
}

.user-name {
  min-height: 20px;
  margin-bottom: -10px;
  padding: 15px 0;
  display: flex;
  justify-content: center;
 
  p {
    font-size: 20px;
  }
}

@media( max-width: 1200px ){
  .col-1-4 {
    flex-basis: 25%;
    max-width: 25%;
  }
}

@media( max-width: 1040px ){
  .user-name {
    p {
      font-size: 15px;
    }
  }
}

@media( max-width: 950px ){
  .col-1-3 {
    flex-basis: 33%;
    max-width: 33%;
  }

  p {
      font-size: 20px;
    }
}

@media( max-width: 750px ) {
  .col-1-2 {
    flex-basis: 38%;
    max-width: 38%;
  }

  .information-user-root {
    justify-content: center;
  }

  .user-photo {
    img {
      width: 100px;
      height: 120px;
    }
  }
}