* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  width: 20%;
  max-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-image {
  max-width: 120px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  max-width: 20%;
  max-height: 14em;
  margin-left: 10px;
  color: #212121;
  background: #00FFFF;
  border-radius: 5px;
}

.sidebar ul {
  padding: 0px;
  list-style: none;
}

.sidebar-user {
  line-height: 7em;
  border-bottom: 1px solid #212121;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.sidebar-user:hover {
  background: #00cbcc;
}

.sidebar-user p {
  text-align: center;
  text-transform: uppercase;
}

.sidebar-user p:hover {
  cursor: pointer;
}

.sidebar-admin {
  line-height: 7em;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.sidebar-admin:hover {
  background: #00cbcc;
}

.sidebar-admin p {
  text-align: center;
  text-transform: uppercase;
}

.sidebar-admin p:hover {
  cursor: pointer;
}

.information-root {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  max-width: 80%;
}

.col-1-6 {
  -ms-flex-preferred-size: 21%;
      flex-basis: 21%;
  max-width: 21%;
  font-size: 13px;
}

.information-user-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.information-admin-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-details-not-editing {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.user-details-img {
  margin: 0 5px 0 15px;
  -ms-flex-preferred-size: 40%;
      flex-basis: 40%;
  max-width: 40%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  border: 1px solid #00FFFF;
  border-radius: 5px;
  background: #eeeeee;
}

.user-details-img img {
  margin-top: 10px;
  width: 50%;
  height: 70%;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-details-img label {
  color: #606060;
  margin-top: 10px;
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-details-img p {
  -ms-flex-item-align: center;
      -ms-grid-row-align: center;
      align-self: center;
}

.user-details-buttons {
  margin-right: 55px;
  padding: 20px 0;
  -ms-flex-preferred-size: 70%;
      flex-basis: 70%;
  max-width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #00FFFF;
  border-radius: 5px;
  background: #eeeeee;
}

.buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.buttons button {
  width: 30%;
  margin-right: 10px;
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-details label {
  margin-bottom: 5px;
}

.user-details p {
  height: 1em;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
}

.information-user-selected label {
  color: #606060;
  margin-bottom: 5px;
}

.information-user-selected input {
  height: 2em;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}

.information-user-selected button {
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: #212121;
  background: #00FFFF;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  outline: none;
}

.information-user-selected button:hover {
  background: #00cbcc;
  cursor: pointer;
}

.information-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-admin label {
  color: #606060;
  margin-bottom: 5px;
}

.information-admin input {
  height: 2em;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}

.information-admin button {
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: #212121;
  background: #00FFFF;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
  outline: none;
}

.information-admin button:hover {
  background: #00cbcc;
  cursor: pointer;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search {
  width: 99%;
  max-width: 100%;
  margin: 5px 10px 0 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input {
  border-radius: 3px;
  height: 20px;
  border: 1px solid #00FFFF;
  outline: none;
  padding: 5px;
}

.user {
  margin: 25px 10px 0 8px;
  min-height: 240px;
  border: 1px solid #00FFFF;
  border-radius: 10px;
  -webkit-transition: -webkit-transform 0.3s linear;
  transition: -webkit-transform 0.3s linear;
  transition: transform 0.3s linear;
  transition: transform 0.3s linear, -webkit-transform 0.3s linear;
}

.user:hover {
  cursor: pointer;
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.user-photo {
  padding: 8px;
  max-width: 100%;
  min-height: 200px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-photo img {
  height: 200px;
  width: 150px;
  border-radius: 9px;
}

.user-name {
  min-height: 20px;
  margin-bottom: -10px;
  padding: 15px 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.user-name p {
  font-size: 20px;
}

@media (max-width: 1200px) {
  .col-1-4 {
    -ms-flex-preferred-size: 25%;
        flex-basis: 25%;
    max-width: 25%;
  }
}

@media (max-width: 1040px) {
  .user-name p {
    font-size: 15px;
  }
}

@media (max-width: 950px) {
  .col-1-3 {
    -ms-flex-preferred-size: 33%;
        flex-basis: 33%;
    max-width: 33%;
  }
  p {
    font-size: 20px;
  }
}

@media (max-width: 750px) {
  .col-1-2 {
    -ms-flex-preferred-size: 38%;
        flex-basis: 38%;
    max-width: 38%;
  }
  .information-user-root {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .user-photo img {
    width: 100px;
    height: 120px;
  }
}
/*# sourceMappingURL=App.css.map */