$textColor: #212121;
$navAndButtonBg: #00FFFF;
$navAndButtonHover: #00cbcc;
$searchAndUserBorder: 1px solid #00FFFF;
$userDetailsBg: #eeeeee;
$labelColor: #606060;
$bgTransition: background 0.3s linear;
$transformTransition: transform 0.3s linear;