$whiteText: #ffffff;
$navAndButtonBg: #2196f3;
$navAndButtonHover: #0069c0;
$searchAndUserBorder: 1px solid darken(#4290f5, 20 );
$userDetailsBg: #eeeeee;
$labelColor: #606060;
$bgTransition: background 0.3s linear;
$transformTransition: transform 0.3s linear;