$textColor: #212121;
$whiteColor: #ffffff;
$navAndButtonBg: #97b7ea;
$navAndButtonHover: #c9e9ff;
$searchAndUserBorder: 1px solid $navAndButtonBg;
$sidebarAdminBorder: 1px solid #000000;
$userDetailsBg: #eeeeee;
$labelColor: #606060;
$bgTransition: background 0.3s linear;
$transformTransition: transform 0.3s linear;