@import '../../../../../style/variables.scss';

.information-admin-root{
  display: flex;
  justify-content: center;
  align-items: center;
}

.new-user-form {
  width: 30%;
  margin-bottom: 20px;
  padding: 20px 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: $newUserFormBorder;
  border-radius: 10px;
}

.information-admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  label:not(:first-child) {
    margin: 15px 0 2px 0;
  }

  label {
    color: $labelColor;
  }

  input {
    height: 2em;

    border-radius: 3px;
    outline: none;
  }
}

.select-field {
  width: 100%;

}