.devices-root {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.devices-form {
  width: 70%;
  display: flex;
  justify-content: space-around;
}

.device-select {
  width: 25%;
}