$headerHeight: 50px;
$sidebarHeight: 745px;

* {
  margin: 0;
}

.header {
  width: 100%;
  max-width: 100%;
  height: $headerHeight;
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid black;
}

.sidebar {
  width: 15%;
  max-width: 100%;
  height: $sidebarHeight;
  border-right: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sidebar-user {
  width: 100%;
  max-width: 100%;
  height: $sidebarHeight / 2;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    &:hover{
     cursor: pointer;
     text-decoration: underline;
    }
  }
}

.sidebar-admin {
  width: 100%;
  max-width: 100%;
  height: $sidebarHeight / 2;
  border-bottom: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;

  p {
    &:hover{
     cursor: pointer;
     text-decoration: underline;
    }
  }
}

.main {
  display: flex;
}

.information-admin {
  height: $sidebarHeight;
  display: flex;
  justify-content: center;
  align-items: center;
}

@media(max-width: 1400px) {
  .user {
    margin: 4px 5px;
    width: (100% / 6) - 2;
    max-width: 100%;
    border: 1px solid black;
  }

  .sidebar {
    height: 718px;
  }

  .information-root {
    height: 718px;
  }
}