$headerHeight: 50px;
$sidebarHeight: 200px;
$informationWidth: 100%;

* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  width: 20%;
  max-width: 20%;
  display: flex;
  justify-content: center;
}

.header-image {
  width: 100%;
  max-width: 120px;
}

.main {
  display: flex;
}

.sidebar {
  flex-basis: 20%;
  max-width: 20%;
  max-height: 10em;
  margin-left: 10px;
  padding: 0px;
  display: inline-block;
  background: lighten( #809fff, 15);
  border-radius: 5px;
}

.sidebar ul {
  padding: 0px;
  list-style: none;
}

.sidebar-user {
  line-height: 5em;
  color: #0341fc;
  border-bottom: 1px solid white;
  border-radius: 5px;
  transition: background 0.3s linear;

  &:hover {
    background: greenyellow;
  }

  p {
    text-align: center;
    text-transform: uppercase;

    &:hover{
     cursor: pointer;
    }
  }
}

.sidebar-admin {
  line-height: 5em;
  color: #0341fc;
  border-bottom: 1px solid white;
  border-radius: 5px; 
  transition: background 0.3s linear;

  &:hover {
    background: greenyellow;
  }

  p {
    text-align: center;
    text-transform: uppercase;
    
    &:hover {
     cursor: pointer;
    }
  }
}

.information-root{
  flex-basis: 80%;
  max-width: 80%;
}

.col-1-4 {
  flex-basis: 25%;
  max-width: 25%;
}

.information-user-root{
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: stretch
}

.information-admin-root{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.user-details {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  label {
    margin-bottom: 5px;
    color: darken( #809fff, 15);
  }

  p {
    height: 1em;
    margin-bottom: 10px;
    padding: 5px;
    outline: none;
  }

  button {
    line-height: 2em;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: greenyellow;
    background: darken( #809fff, 10);
    transition: color 0.3s linear, background 0.3s linear;
    outline: none;

    &:hover {
      color: darken( #809fff, 15);
      background: greenyellow;
      cursor: pointer;
    }
  }
}

.user-form {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  label {
    margin-bottom: 5px;
    color: darken( #809fff, 15);
  }

  input {
    height: 2em;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
  }

  button {
    line-height: 2em;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: greenyellow;
    background: darken( #809fff, 10);
    transition: color 0.3s linear, background 0.3s linear;
    outline: none;

    &:hover {
      color: darken( #809fff, 15);
      background: greenyellow;
      cursor: pointer;
    }
  }
}

.information-admin {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;

  label {
    margin-bottom: 5px;
    color: darken( #809fff, 15);
  }

  input {
    height: 2em;
    margin-bottom: 10px;
    border-radius: 3px;
    outline: none;
  }

  button {
    line-height: 2em;
    border: none;
    border-radius: 3px;
    font-size: 15px;
    color: greenyellow;
    background: darken( #809fff, 10);
    transition: color 0.3s linear, background 0.3s linear;
    outline: none;

    &:hover {
      color: darken( #809fff, 15);
      background: greenyellow;
      cursor: pointer;
    }
  }
}

.selected-user-root {
  flex-basis: 75%;
  max-width: 75%;
}

.information-user-selected {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 0 10px 10px;
  padding-bottom: 10px;

  img {
    width: 30%;
    max-width: 30%;
  }

  input {
    line-height: 45px;
    color: #0341fc;
    margin: 10px 0px;
    padding: 0 20px;
    border: 1px solid darken(#4290f5, 20 );
    border-radius: 10px;
    outline: none;
  }

  button {
    width: 15%;
    margin-top: 5px;
    line-height: 2em;
    border: none;
    border-radius: 3px;
    color: lighten( red, 20 );
    background: lighten( blue, 20 );
    transition: all 0.3s linear;
    outline: none;

    &:hover {
      color: lighten( blue, 20 );
      background: lighten( red, 20 );
      cursor: pointer;
    }
  }
}

.search {
  width: 99%;
  max-width: 100%;
  margin:  5px 10px 0 0;;
  height: 40px;
  display: flex;
  justify-content: flex-end;
  align-items: center;

  input {
    border-radius: 3px;
    height: 20px;
    border: 1px solid darken(#4290f5, 20 );
    color: gray;
    outline: none
  }
}

.user {
  margin: 25px 10px 10px 8px;
  border: 1px solid darken(#4290f5, 20 );
  border-radius: 10px;
  color: darken(#4290f5, 20 )
}

.user-photo {
  width: 100%;
  max-width: 100%;
  height: 250px;
  border-bottom: 1px solid darken(#4290f5, 20 );
  display: flex;
  justify-content: center;
  align-items: center;

  img {
    width: 100%;
  }
}

.user-name {
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
 
  p {
    color: darken(#4290f5, 20 );
    transition: color 0.7s ease;
  }

  p {
    &:hover {
      cursor: pointer;
      color: lighten(green, 20);
    }
  }
}

@media( max-width: 900px) {
  .col-1-2 {
    flex-basis: 50%;
    max-width: 50%;
  }
}