* {
  margin: 0;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

.header {
  width: 20%;
  max-width: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.header-image {
  width: 100%;
  max-width: 120px;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.sidebar {
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  max-width: 20%;
  max-height: 10em;
  margin-left: 10px;
  padding: 0px;
  display: inline-block;
  background: #cdd9ff;
  border-radius: 5px;
}

.sidebar ul {
  padding: 0px;
  list-style: none;
}

.sidebar-user {
  line-height: 5em;
  color: #0341fc;
  border-bottom: 1px solid white;
  border-radius: 5px;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.sidebar-user:hover {
  background: greenyellow;
}

.sidebar-user p {
  text-align: center;
  text-transform: uppercase;
}

.sidebar-user p:hover {
  cursor: pointer;
}

.sidebar-admin {
  line-height: 5em;
  color: #0341fc;
  border-bottom: 1px solid white;
  border-radius: 5px;
  -webkit-transition: background 0.3s linear;
  transition: background 0.3s linear;
}

.sidebar-admin:hover {
  background: greenyellow;
}

.sidebar-admin p {
  text-align: center;
  text-transform: uppercase;
}

.sidebar-admin p:hover {
  cursor: pointer;
}

.information-root {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  max-width: 80%;
}

.col-1-4 {
  -ms-flex-preferred-size: 25%;
      flex-basis: 25%;
  max-width: 25%;
}

.information-user-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
}

.information-admin-root {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 70px;
}

.user-details {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-details label {
  margin-bottom: 5px;
  color: #3465ff;
}

.user-details p {
  height: 1em;
  margin-bottom: 10px;
  padding: 5px;
  outline: none;
}

.user-details button {
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: greenyellow;
  background: #4d78ff;
  -webkit-transition: color 0.3s linear, background 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear;
  outline: none;
}

.user-details button:hover {
  color: #3465ff;
  background: greenyellow;
  cursor: pointer;
}

.user-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-form label {
  margin-bottom: 5px;
  color: #3465ff;
}

.user-form input {
  height: 2em;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}

.user-form button {
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: greenyellow;
  background: #4d78ff;
  -webkit-transition: color 0.3s linear, background 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear;
  outline: none;
}

.user-form button:hover {
  color: #3465ff;
  background: greenyellow;
  cursor: pointer;
}

.information-admin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.information-admin label {
  margin-bottom: 5px;
  color: #3465ff;
}

.information-admin input {
  height: 2em;
  margin-bottom: 10px;
  border-radius: 3px;
  outline: none;
}

.information-admin button {
  line-height: 2em;
  border: none;
  border-radius: 3px;
  font-size: 15px;
  color: greenyellow;
  background: #4d78ff;
  -webkit-transition: color 0.3s linear, background 0.3s linear;
  transition: color 0.3s linear, background 0.3s linear;
  outline: none;
}

.information-admin button:hover {
  color: #3465ff;
  background: greenyellow;
  cursor: pointer;
}

.selected-user-root {
  -ms-flex-preferred-size: 75%;
      flex-basis: 75%;
  max-width: 75%;
}

.information-user-selected {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 10px 10px;
  padding-bottom: 10px;
}

.information-user-selected img {
  width: 30%;
  max-width: 30%;
}

.information-user-selected input {
  line-height: 45px;
  color: #0341fc;
  margin: 10px 0px;
  padding: 0 20px;
  border: 1px solid #0b5cc6;
  border-radius: 10px;
  outline: none;
}

.information-user-selected button {
  width: 15%;
  margin-top: 5px;
  line-height: 2em;
  border: none;
  border-radius: 3px;
  color: #ff6666;
  background: #6666ff;
  -webkit-transition: all 0.3s linear;
  transition: all 0.3s linear;
  outline: none;
}

.information-user-selected button:hover {
  color: #6666ff;
  background: #ff6666;
  cursor: pointer;
}

.search {
  width: 99%;
  max-width: 100%;
  margin: 5px 10px 0 0;
  height: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.search input {
  border-radius: 3px;
  height: 20px;
  border: 1px solid #0b5cc6;
  color: gray;
  outline: none;
}

.user {
  margin: 25px 10px 10px 8px;
  border: 1px solid #0b5cc6;
  border-radius: 10px;
  color: #0b5cc6;
}

.user-photo {
  width: 100%;
  max-width: 100%;
  height: 250px;
  border-bottom: 1px solid #0b5cc6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-photo img {
  width: 100%;
}

.user-name {
  height: 70px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 20px;
}

.user-name p {
  color: #0b5cc6;
  -webkit-transition: color 0.7s ease;
  transition: color 0.7s ease;
}

.user-name p:hover {
  cursor: pointer;
  color: #00e600;
}

@media (max-width: 900px) {
  .col-1-2 {
    -ms-flex-preferred-size: 50%;
        flex-basis: 50%;
    max-width: 50%;
  }
}
/*# sourceMappingURL=App.css.map */